.results-table {
  font-size: 1.3rem;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid black;
  cursor: pointer;

  td, th {
    text-align: center;
  }
}
.last-row {
  font-size: 1.6rem;
  font-weight: bold;
}
