.student-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.student {
  flex: 1 0 auto;
  max-width: 450px;
  min-height: auto;
}

.student-card {
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
  min-height: 335px !important;
}

.student .card-content i {
  padding-top: 15px;
}

.student .card-reveal i {
  padding-right: 10px;
}

.student .card-reveal p {
  padding-right: 20px;
}

#contacted {
 padding-top: 8px !important;
}

.contacted-label {
  margin-top: 7px;
}

.progress-text {
  display: block;
  font-size: .8rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  max-height: 20px;
}

.card-email {
  font-size: 1.2rem;
  line-height: 20px;
}

.action-text {
  font-weight: 600;
  font-size: 1.3rem;
}

.student-card {
  min-height: 310px;
}

.checkmark {
  margin-top: 4px;
}
